      <footer class="page-footer light-blue lighten-1">
            <div class="footer-copyright">
                  <div class="container">
                        Developed by: Michel Gonzalez, Matthew Denslinger, Mohammed Islam, Shi Lim, Eisa Ahmed 
                  </div>
            </div>
      </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      </body>
</html>