<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center deep-purple-text text-darken-1">Welcome to Flix!</h1>
          <div class="row center">
            <h5 class="header col s12 light">Currently containing <%= movies %> movies</h5>
          </div>
          </div>
          <div class="container">
            <p>Our motivation to create a Movie Web app serves to not only join our joint passion for movies but to describe movie review data in a trend analysis manner. We plan on addressing the best films to watch through queries detailed out in our Reviews Section. We hope you enjoy our website</p>
          </div>
    </div>   
  </main>
<%- include('./includes/end.ejs') %>