<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="container">
        <div class="row">
            <h2>Query Five</h2>
            <p>This query aims to distinguish the success of Foreign films in comparison to that of Domestic films within a distinguished year. This will combine the overall consumer and critic review of all films to get a consensus of how well either foreign or international films were perceived in a year</p>
        </div>
    </div>

<%- include('./includes/end.ejs') %>
