<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <div class="container">
        <div class="row">
            <h2>Query Three</h2>
            <p>This query aims to give a simple comprehensive view to the end user that allows for a quick look back at a year's most enjoyed films based on user reviews.</p>
        </div>
    </div>

<%- include('./includes/end.ejs') %>