<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <div class="container">
        <div class="row">
            <h2>Query Two</h2>
            <p>This query aims to highlight the commercial success of academy award winning films with that of non-awarded films. This visualization can be done across multiple years that will be highlighted in a line graph, while when selecting a single year a box plot would easily be able to populate the information clearly for the end user.</p>
        </div>
    </div>

<%- include('./includes/end.ejs') %>