<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="container">
        <div class="row">
            <h2>Query Four</h2>
            <p>This query aims to give the end user an overview of how well genres did over a selected year.</p>
        </div>
    </div>

<%- include('./includes/end.ejs') %>