<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="container">
        <div class="row">
            <h2>Query One</h2>
            <p>This query gives a visual comparison of how critics rated a movie in comparison to that of the consumer. This will be done in a yearly fashion, where the end user can select the span of years to view. The citics will include the critical review scores from Rotten Tomatoes, MetaCritic, and IMDB. The Consumer reviews will include those completed by reviewers on Rotten Tomatoes, MetaCritic, and IMDB.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card grey lighten-4 z-depth-2">
                <div class="card-content pink-text darken-3">
                    <form action="/queryone" method="POST">
                    <div class="input field">
                        <label for="year">Year</label>
                        <input class="validate" type="number" name="year" min="1970" max="2020">
                    </div>
                    </form>
                    <button class="btn purple darken-1" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>

<%- include('./includes/end.ejs') %>